<header class='bg-purple-600 p-2 font-semibold w-full'>
  <div class='max-w-7xl mx-auto flex items-center justify-between'>
    <p class='text-sm'>Envíos gratis a toda Colombia</p>
    <button>Iniciar sesión</button>
  </div>
</header>
